<header class="col-md-offset-2 col-md-8">
  <h1>
    <span class="animated bounceInLeft">SHORTEN.</span>
    <span class="animated fadeInDownBig">SHARE.  </span>
    <span class="animated bounceInRight"> MEASURE.</span>
  </h1>
  <h2>Shorten your links and track their clicks</h2>
</header><!-- .header -->

<nav>
</nav>

<main>
  <section class="input-box col-md-offset-2 col-md-8">
    <form class="form-horizontal" action="/urls" method="post">

      <div class="form-group has-feedback">
        <div class="input-group input-group-lg">

          <span class="input-group-addon"><i class="fa fa-link"></i></span>
          <!-- <span class="fa fa-link errspan"></span> -->

          <input type="text" class="form-control" name="long_url" placeholder="Enter link here">

          <span class="input-group-btn">
            <button type="submit" class="btn btn-lg btn-success">&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-arrow-circle-right fa-lg'></i>&nbsp;&nbsp;&nbsp;&nbsp;</button>
          </span>

        </div><!-- .input-group -->
      </div><!-- .form-group -->

    </form>
  </section><!-- .input-box -->


  <section class="errors col-md-offset-2 col-md-8">
    <% unless params['errors'].nil? %>

      <div class="alert alert-danger alert-dismissible" role="alert">

        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>

        <%= params['errors'] %>

      </div><!-- .alert -->

    <% end %>
  </section><!-- .errors -->

  <section class="stats">
    <div class="row">
      <div class="one">
        One
      </div>
    </div>
  </section>

  <section class="url-list col-md-offset-2 col-md-8">
    <ul class="list-group">
      <% @urls.each do |url| %>
      <li class="list-group-item">
        <h3><a href="<%= url.long_url %>" target="_blank" class="list-group-item-heading"><%= url.long_url %></a></h3>
        <span class="pull-right clearfix"><i class="fa fa-bar-chart fa-lg"></i>&nbsp;<%= url.click_count %>&nbsp;clicks</span>
        <h4><a href="<%= url.short_url %>" target="_blank" class="list-group-item-text"><%= @site_name %><%= url.short_url %></a></h4>
      </li>
      <% end %>
    </ul>
  </section><!-- .url-list -->
</main>
